.backHome{
	position: absolute;
	top:30px;
	left:30px;
	cursor: pointer;
}

a svg:hover #backHome circle{
 fill: #008DFF ;
}

a svg:hover #backHome path{
 fill: #ffffff ;
}

.heroimage{
	margin:auto;
	width:100%;
	height:580px;
	overflow: hidden;
}

.page h1 {
	font-size:42px;
	font-weight: 500;
	margin-bottom: 40px;
	color: #444444;
}

.page p{
	font-family: 'Georgia', serif;
	font-size: 20px;
	line-height: 32px;
	color: #444444;
	margin:20px 0px;
}

ul > li{
	font-family: 'Georgia', serif;
	font-size: 20px;
	line-height: 32px;
	color: #444444;
	margin-left:30px;
}

.page h3{
	font-size: 32px;
	line-height: 38px;
	color: #444444;
	font-weight: 400;
	margin:40px 0px 20px 0px;
}

.page h4{
	font-size: 24px;
	color: #444444;
	font-weight: 500;
	margin:20px 0px;
}

.role{
	width:390px;
	padding:20px;
	background-color: #EEEEEE;
	margin:10px 0px 40px 30px;
	float:right;
}

.role p{
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin:0px;
}

.pageNavi{
	width:100%;
	background: #EEEEEE;

	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row;
	justify-content: flex-start;
}

.prvPage{
	width:50%;
	padding: 50px 120px;
}

.nxtPage{
	width:50%;
	padding: 50px 120px;
	text-align: right;
}

.prvPage:hover, .nxtPage:hover{
	background: #D8D8D8;
}

.pageNavi h3{
	font-size: 24px;
	line-height: 38px;
	color: #444444;
	font-weight: 500;
	text-transform: uppercase;
}

.pageNavi a{
	font-size: 20px;
}

.footer{
	background:#222222;
	height:40px;
	width:100%;
	color:#797979;
	font-size:14px;
	line-height: 38px;
	text-align: left;
}

.footerSocial{
	float:right;
}


.thumbnails {
 	list-style: none;
    text-align: center;
}

.thumbnails a {
	display: inline-block;
	margin: 10px 5px;
}