@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');


body {
	margin:auto;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size:60px;
	font-weight: 500;
	margin-bottom: 8px;
}
h2.tag{
	font-size: 13px;
	color:#B4B4B4;
	letter-spacing: 2.2px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-left:4px;
}

.descrip p{
	font-family: 'Georgia', serif;
	font-size: 18px;
	line-height: 24px;
	color: #444444;
	padding-left:4px;
}

a{
	color:#FF0094;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.content{
	margin:auto;
	width:1024px;
	padding-top:70px;
}

.displayFlex{
	display: flex; /* or inline-flex */

 	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.contactbar{
	display: none;
}

.profile{
	width: 396px;
	margin: 0px 15px;
	padding: 0px;
}

.profile p{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color:#C5C5C5;
	line-height: 20px;
}

.profile a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color:#C5C5C5;
}

.profile a:hover{
	color:#FF0094;
}

.profileImg {
	width:311px;
}

.contactwrap{
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
}

.socialicon{
	width:34px;
	height:34px;
	margin: 15px 5px;
}

a svg:hover #SocialIcon rect{
 fill: #FF0094;
}

a svg:hover #SocialIcon path{
	 fill: #fff;
}

.intro{
	width: 568px;
	margin: 0px 15px;
	padding: 0px;
}

.navig{
	text-align: right;
	position: relative;
	top: -27px;
}

.resume{
background: #008DFF;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 15px;
color: #FFFFFF;
letter-spacing: 0.94px;
text-align: left;
border: none;
height:40px;
padding: 0px 20px;
text-transform: uppercase;
cursor: pointer;
border-radius: 20px;
}

.resume:hover{
 	background: #0175D3;
 }

.descrip{
	margin-top: 8px;
}

.portfolio{
	width:737px;
	background: #fff;
	position: relative;
	padding:20px;
	left:-170px;
	margin: 30px 0px 0px 0px;

	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
}

.work{
	width:225px;
	margin:0px 20px 20px 0px;
	padding: 0px;
	display: block;
	position: relative;
	background: #cccccc;
}

span.text-content {
  background: #FF0094;
  color: white;
  cursor: pointer;
  display: table;
  height: 165px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 226px;
  opacity:0;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding:20px;
  line-height: 22px;
}

span.text-content:hover{
	opacity: .9;

	-webkit-transition: opacity 300ms linear;
	-moz-transition: opacity 300ms linear;
	-o-transition: opacity 300ms linear;
	-ms-transition: opacity 300ms linear;
	transition: opacity 300ms linear;
}

.showall{
 	border: none;
 	color:#fff;
 	font-size: 11px;
 	background: #FF0094;
 	height: 30px;
 	padding: 0px 10px;
 	text-transform: uppercase;
	cursor: pointer;
	float: right;
	margin:0px;
 }

.showall:hover{
 	background:#FF2EA7;
}